.pe-c-fund-tabs .tabs, .pe-c-faq-tabs .tabs {
  display: flex;
}

.pe-c-fund-tabs .tabs .tab, .pe-c-faq-tabs .tabs .tab {
  flex: 1;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.15;
  padding: 10px 0;
  color: #737373;
  text-align: center;
  cursor: pointer;
  box-shadow: inset 0px -1px 0px #e2e8f0;
}

.pe-c-fund-tabs .tabs .tab.sel, .pe-c-faq-tabs .tabs .tab.sel {
  color: #1971e4;
  box-shadow: inset 0px -2px 0px #1971e4;
}

@media (min-width: 992px) {
  .pe-c-fund-tabs .tabs .tab, .pe-c-faq-tabs .tabs .tab {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.12;
    padding: 15px 0;
  }
}

@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  src: local("Inter"), url("../fonts/Inter-Regular.woff2?v=3.13") format("woff2"), url("../fonts/Inter-Regular.woff?v=3.13") format("woff");
}

@font-face {
  font-family: "Inter";
  font-weight: 500;
  font-style: normal;
  src: local("Inter"), url("../fonts/Inter-Medium.woff2?v=3.13") format("woff2"), url("../fonts/Inter-Medium.woff?v=3.13") format("woff");
}

@font-face {
  font-family: "Inter";
  font-weight: 600;
  font-style: normal;
  src: local("Inter"), url("../fonts/Inter-SemiBold.woff2?v=3.13") format("woff2"), url("../fonts/Inter-SemiBold.woff?v=3.13") format("woff");
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  src: local("Inter"), url("../fonts/Inter-Bold.woff2?v=3.13") format("woff2"), url("../fonts/Inter-Bold.woff?v=3.13") format("woff");
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
}

figure {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pe-overflow-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.m-1-5 {
  margin: 0.375rem !important;
}

.mt-1-5,
.my-1-5 {
  margin-top: 0.375rem !important;
}

.mr-1-5,
.mx-1-5 {
  margin-right: 0.375rem !important;
}

.mb-1-5,
.my-1-5 {
  margin-bottom: 0.375rem !important;
}

.ml-1-5,
.mx-1-5 {
  margin-left: 0.375rem !important;
}

.m-2-25 {
  margin: 0.675rem !important;
}

.mt-2-25,
.my-2-25 {
  margin-top: 0.675rem !important;
}

.mr-2-25,
.mx-2-25 {
  margin-right: 0.675rem !important;
}

.mb-2-25,
.my-2-25 {
  margin-bottom: 0.675rem !important;
}

.ml-2-25,
.mx-2-25 {
  margin-left: 0.675rem !important;
}

.m-2-5 {
  margin: 0.75rem !important;
}

.mt-2-5,
.my-2-5 {
  margin-top: 0.75rem !important;
}

.mr-2-5,
.mx-2-5 {
  margin-right: 0.75rem !important;
}

.mb-2-5,
.my-2-5 {
  margin-bottom: 0.75rem !important;
}

.ml-2-5,
.mx-2-5 {
  margin-left: 0.75rem !important;
}

@media (min-width: 576px) {
  .m-sm-1-5 {
    margin: 0.375rem !important;
  }
  .mt-sm-1-5,
  .my-sm-1-5 {
    margin-top: 0.375rem !important;
  }
  .mr-sm-1-5,
  .mx-sm-1-5 {
    margin-right: 0.375rem !important;
  }
  .mb-sm-1-5,
  .my-sm-1-5 {
    margin-bottom: 0.375rem !important;
  }
  .ml-sm-1-5,
  .mx-sm-1-5 {
    margin-bottom: 0.375rem !important;
  }
}

@media (min-width: 992px) {
  .m-lg-2-5 {
    margin: 0.75rem !important;
  }
  .mt-lg-2-5,
  .my-lg-2-5 {
    margin-top: 0.75rem !important;
  }
  .mr-lg-2-5,
  .mx-lg-2-5 {
    margin-right: 0.75rem !important;
  }
  .mb-lg-2-5,
  .my-lg-2-5 {
    margin-bottom: 0.75rem !important;
  }
  .ml-lg-2-5,
  .mx-lg-2-5 {
    margin-left: 0.75rem !important;
  }
}

.pe-h1 {
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: #ffffff;
}

@media (min-width: 576px) {
  .pe-h1 {
    font-size: 1.875rem;
    line-height: 1.3;
    letter-spacing: 0.02em;
    color: #181818;
  }
}

@media (min-width: 768px) {
  .pe-h1 {
    font-size: 2.25rem;
    line-height: 1.1;
  }
}

.pe-h2 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.1;
  color: #181818;
}

@media (min-width: 576px) {
  .pe-h2 {
    font-size: 1.75rem;
    line-height: 1.15;
    letter-spacing: 0.01em;
  }
}

.pe-h4 {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  color: #181818;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .pe-h4 {
    font-size: 1rem;
    margin-bottom: 12px;
  }
}

.pe-h4__md {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.pe-h4__static {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.1;
  color: #181818;
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .pe-h4__static {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 4px;
  }
}

.pe-h5 {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  color: #181818;
  margin-bottom: 10px;
}

.pe-h2__social-proof {
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: #ffffff;
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .pe-h2__social-proof {
    font-size: 1.5rem;
    line-height: 1.13;
    letter-spacing: 0.01em;
  }
}

@media (min-width: 992px) {
  .pe-h2__social-proof {
    font-size: 1.75rem;
    line-height: 1.15;
    letter-spacing: 0.01em;
  }
}

.pe-h2__social-proof img {
  width: 20px;
  height: 20px;
}

.pe-h6 {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.1;
  color: #181818;
}

.pe-p__lead {
  font-size: 15px;
  line-height: 1.3;
  color: #ffffff;
  opacity: 0.9;
}

@media (min-width: 576px) {
  .pe-p__lead {
    font-size: 1rem;
    line-height: 1.5;
    color: #595959;
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .pe-p__lead {
    font-size: 1.125rem;
    margin-bottom: 1.75rem !important;
  }
}

.pe-p__medium {
  font-size: 14px;
  line-height: 1.5;
  color: #737373;
}

@media (min-width: 576px) {
  .pe-p__medium {
    font-size: 1rem;
    line-height: 1.6;
  }
}

.pe-p__sm {
  font-size: 14px;
  line-height: 1.4;
  color: #404040;
}

@media (min-width: 768px) {
  .pe-p__sm {
    font-size: 13px;
  }
}

.pe-p__small {
  font-size: 13px;
  line-height: 1.2;
  color: #737373;
}

.pe-p__invest-card {
  font-size: 14px;
  line-height: 1.4;
  color: #737373;
}

.pe-p__social-proof {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  color: #ffffff;
}

.pe-p__faq {
  font-size: 14px;
  line-height: 1.4;
  color: #595959;
}

.pe-p__rating-recommendation {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4;
  color: #343434;
}

.pe-p__rating-button {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  color: #404040;
}

.pe-p1 {
  font-size: 14px;
  line-height: 1.4;
}

.pe-input__autocomplete {
  font-size: 0.875rem;
  width: 100%;
  padding: 0.75rem 2.5rem 0.75rem 1rem;
  background-image: url(../images/svg/search-icon.svg);
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: top 0.75rem right 0.75rem;
  box-shadow: 0px 0.5px 2px rgba(0, 0, 0, 0.1), 0px 2px 3px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  transition: 0.15s ease-in-out;
}

.pe-input__autocomplete:focus {
  outline: none;
}

@media (min-width: 576px) {
  .pe-input__autocomplete {
    font-size: 1rem;
    padding: 0.875rem 3rem 0.875rem 1rem;
    background-size: 1.125rem;
    background-position: top 0.875rem right 0.875rem;
    box-shadow: 0px 0.5px 2px rgba(0, 0, 0, 0.1);
    border: 1px solid #d9d9d9;
  }
  .pe-input__autocomplete:hover, .pe-input__autocomplete:active, .pe-input__autocomplete:focus {
    border: 1px solid #f58024;
  }
}

.pe-a {
  color: #1971e4;
}

.pe-a:hover {
  text-decoration: underline;
}

.pe-btn-primary {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  color: #ffffff;
  background: #0fac85;
  padding: 13px 0;
  width: 100%;
  border-radius: 6px;
  transition: 0.15s ease-in-out;
}

.short-term .pe-btn-primary {
  background-color: #f58024;
}

.save-taxes .pe-btn-primary {
  background-color: #007aff;
}

.emergency .pe-btn-primary {
  background-color: #ed64a6;
}

@media (min-width: 576px) {
  .pe-btn-primary {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.15;
    padding: 8px 12px;
  }
}

.pe-btn-primary:hover, .pe-btn-primary:active, .pe-btn-primary:focus {
  outline: none;
}

.pe-btn-secondary {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.15;
  color: #1971e4;
  background: #ffffff;
  border-radius: 6px;
  padding: 8px 12px;
}

.pe-btn-secondary svg {
  margin-left: 12px;
}

.pe-btn-secondary:hover {
  background-color: #f2f2f2;
}

.pe-button-primary {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4;
  color: #ffffff !important;
  background: transparent;
  padding: 8px 12px;
  border-radius: 6px;
  box-shadow: 0px 0.5px 2px rgba(0, 0, 0, 0.1), 0px 2px 3px rgba(0, 0, 0, 0.07);
  transition: 0.15s ease-in-out;
}

.long-term-wealth-card .pe-button-primary {
  background: #0fac85;
}

.save-tax-card .pe-button-primary {
  background: #007aff;
}

.emergency-ready-card .pe-button-primary {
  background: #ed64a6;
}

.short-term-wealth-card .pe-button-primary {
  background: #f58024;
}

.pe-button-primary:hover, .pe-button-primary:active, .pe-button-primary:focus {
  outline: none;
}

.pe-c-brand__logo {
  width: 90px;
  height: 25px;
}

@media (min-width: 576px) {
  .pe-c-brand__logo {
    width: 100%;
    height: auto;
  }
}

.pe-c-nav__link, .pe-c-nav__link--inverse {
  display: flex;
  align-items: center;
  border-radius: 8px;
  transition: 0.15s ease-in-out;
  padding: 0.5rem 0.75rem;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1;
}

.pe-c-nav__link:hover, .pe-c-nav__link--inverse:hover, .pe-c-nav__link:active, .pe-c-nav__link--inverse:active, .pe-c-nav__link:focus, .pe-c-nav__link--inverse:focus {
  outline: none;
}

.pe-c-nav__link {
  color: #ffffff;
}

.pe-c-nav__link-icon {
  width: 20px;
  height: 20px;
}

@media (min-width: 576px) {
  .pe-c-nav__link-icon {
    width: 16px;
    height: 16px;
  }
}

.pe-c-nav__link:hover, .pe-c-nav__link:active, .pe-c-nav__link:focus {
  background-color: #dd6b20;
}

.pe-c-nav__link--inverse {
  color: #dd6b20;
  background: #ffffff;
}

.pe-c-nav__link--inverse:hover, .pe-c-nav__link--inverse:active, .pe-c-nav__link--inverse:focus {
  background-color: #f9f9f9;
}

.pe-c-menu__hamburger {
  position: relative;
  width: 20px;
  height: 15px;
  cursor: pointer;
  margin-right: 0.625rem;
}

.pe-c-menu__hamburger span {
  position: absolute;
  height: 3px;
  width: 100%;
  background: #ffffff;
  border-radius: 9999px;
  opacity: 1;
  transform: rotate(0deg);
  transition: 0.15s ease-in-out;
}

.pe-c-menu__hamburger span:nth-child(1) {
  top: 0px;
}

.pe-c-menu__hamburger span:nth-child(2), .pe-c-menu__hamburger span:nth-child(3) {
  top: 6px;
}

.pe-c-menu__hamburger span:nth-child(4) {
  top: 12px;
}

.pe-c-menu__hamburger--open span:nth-child(1) {
  top: 6px;
  opacity: 0;
}

.pe-c-menu__hamburger--open span:nth-child(2) {
  transform: rotate(45deg);
}

.pe-c-menu__hamburger--open span:nth-child(3) {
  transform: rotate(-45deg);
}

.pe-c-menu__hamburger--open span:nth-child(4) {
  top: 6px;
  opacity: 0;
}

.pe-c-breadcrumb__link {
  font-size: 13px;
  line-height: 1;
  color: #595959;
}

.pe-c-breadcrumb__link:hover, .pe-c-breadcrumb__link:active, .pe-c-breadcrumb__link:focus {
  text-decoration: underline;
}

.pe-c-breadcrumb__link--current {
  background: #ffffff;
  color: #343434;
  border-radius: 30px;
  padding: 2px 0.5rem;
}

.pe-c-breadcrumb__link--current:hover, .pe-c-breadcrumb__link--current:active, .pe-c-breadcrumb__link--current:focus {
  text-decoration: none;
}

.pe-c-recommended__border {
  width: 4px;
  height: 48px;
  background: transparent;
  border-radius: 27px;
  margin-right: 2px;
  flex-shrink: 0;
}

.pe-c-recommended__border--active {
  background: #f58024;
}

.pe-c-badge {
  font-weight: 500;
  position: relative;
  padding: 2px 6px 2px 1.375rem;
  border-radius: 6px;
  text-transform: capitalize;
}

.pe-c-badge:before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-size: contain;
  left: 6px;
  top: 3.8px;
}

.pe-c-badge.recommended {
  color: #f58024;
  background-color: #fef5eb;
}

.pe-c-badge.recommended:before {
  background-image: url("../images/svg/mark.svg");
}

.pe-c-badge.top-ranked {
  color: #0fac85;
}

.pe-c-badge.top-ranked:before {
  background-image: url("../images/svg/star-circled.svg");
}

.pe-c-badge.not-recommended:before {
  background-image: url("../images/svg/not-recommended.svg");
}

.pe-c-fund-card {
  padding: 10px 8px;
  border-bottom: 1px solid #e2e8f0;
  cursor: pointer;
}

.pe-c-fund-card__logo {
  width: 48px;
  height: 48px;
  margin-right: 4px;
  flex-shrink: 0;
}

.pe-c-fund-card__info {
  min-width: 200px;
  max-width: 300px;
}

.pe-c-fund-options--size {
  margin-right: 28px;
}

.pe-c-fund-options__top {
  font-size: 14px;
  line-height: 1.5;
  color: #343434;
  margin-bottom: 10px;
}

.pe-c-fund-options__top--percentage {
  font-weight: 600;
  color: #0fac85;
}

.pe-c-fund-options__bottom {
  font-size: 13px;
  line-height: 1.3;
  color: #737373;
}

.pe-c-autocomplete {
  position: relative;
}

.pe-c-autocomplete__list {
  position: absolute;
  background: #ffffff;
  width: 100%;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.08), 0px 0px 2px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  z-index: 10;
}

.pe-c-autocomplete__list--item:hover {
  background-color: #f9f9f9;
}

.pe-c-autocomplete__list--no-results {
  font-weight: 500;
  font-size: 0.875rem;
  text-align: center;
  margin: 0.75rem 0;
}

.pe-c-autocomplete__list--all-results {
  font-weight: 500;
  font-size: 0.875rem;
  text-align: center;
}

.pe-c-autocomplete__list--all-results a {
  display: block;
  padding: 12px;
  color: #595959;
}

.pe-c-autocomplete__list--all-results a:hover {
  text-decoration: underline;
}

.pe-c-autocomplete__list--all-results span {
  color: #181818;
}

.pe-c-autocomplete__list--all-results img {
  margin-left: 0.875rem;
  display: inline-block;
}

.pe-c-brands-showcase {
  max-height: 456px;
  overflow: hidden;
}

.pe-c-brands-showcase__list:not(:last-child) {
  margin-right: 2.5rem;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-520px);
  }
}

.pe-c-brands-showcase__list--1 {
  animation: scroll 35s linear 0s infinite;
}

.pe-c-brands-showcase__list--2 {
  animation: scroll 45s linear 0s infinite;
}

.pe-c-brands-showcase__list--3 {
  animation: scroll 15s linear 0s infinite;
}

.pe-c-brands-showcase__list--4 {
  animation: scroll 25s linear 0s infinite;
}

.pe-c-brands-showcase__icon {
  background: #ffffff;
  flex: 0 0 auto;
  width: 64px;
  height: 64px;
  box-shadow: 0px 0.5px 2px rgba(0, 0, 0, 0.1), 0px 2px 3px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  margin-bottom: 2.5rem;
}

.pe-c-fund-tabs {
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 768px) {
  .pe-c-fund-tabs {
    max-width: 730px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 576px) {
  .pe-c-fund-tabs__item {
    position: relative;
    transition: all 150ms ease;
    margin-top: 5px;
  }
  .pe-c-fund-tabs__item:before {
    opacity: 0;
    content: "";
    position: absolute;
    top: -1px;
    left: -10px;
    height: calc(100% - 3px);
    width: calc(100% + 18px);
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    box-shadow: 0px 0.5px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 200ms ease;
    z-index: -1;
  }
  .pe-c-fund-tabs__item:hover:before {
    opacity: 1;
  }
}

.pe-c-fund-card-static {
  background: linear-gradient(0deg, #ffffff -106.25%, #eafff2 100%);
  box-shadow: 0px 0.5px 2px rgba(0, 0, 0, 0.1);
}

.pe-c-fund-card-static:hover button {
  background-color: #1c9778;
}

.pe-c-fund-card-static.short-term {
  background: linear-gradient(360deg, #f7e4b9 -102.12%, #fef8eb 109.19%);
}

.pe-c-fund-card-static.short-term:hover button {
  background-color: #dd6b20;
}

.pe-c-fund-card-static.save-taxes {
  background: linear-gradient(180deg, #eef9ff 10.95%, #cce2ff 246.29%);
}

.pe-c-fund-card-static.save-taxes:hover button {
  background-color: #1971e4;
}

.pe-c-fund-card-static.emergency {
  background: linear-gradient(180deg, #fff5f5 13.75%, #fed7d7 420%);
}

.pe-c-fund-card-static.emergency:hover button {
  background-color: #d53f8c;
}

.pe-c-fund-card-static__wrapper {
  padding: 32px 24px 24px 24px;
  box-shadow: 0px 1px 0px #e2e8f0;
  cursor: pointer;
}

@media (min-width: 576px) {
  .pe-c-fund-card-static__wrapper {
    padding: 12px 1.25rem 12px 1.25rem;
  }
}

.long-term .pe-c-fund-card-static__wrapper {
  background-image: url(../images/svg/yellow-circle.svg);
  background-position: bottom -195px right -210px;
  background-repeat: no-repeat;
  background-size: auto;
}

@media (min-width: 576px) {
  .long-term .pe-c-fund-card-static__wrapper {
    background-position: top -14px right -170px;
  }
}

.pe-c-fund-card-static__info {
  max-width: 265px;
}

@media (min-width: 576px) {
  .pe-c-fund-card-static__info {
    max-width: 387px;
  }
}

.pe-c-fund-card-static__image {
  width: 60px;
  height: 60px;
}

@media (min-width: 576px) {
  .pe-c-fund-card-static__image {
    width: 48px;
    height: 48px;
    margin-right: 20px;
  }
}

.pe-c-fund-card-static-list {
  margin-bottom: 20px;
}

.pe-c-fund-card-static-list__item {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.35;
  margin-bottom: 8px;
  color: #181818;
}

.pe-c-fund-card-static-list__image {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.pe-c-benefit-card {
  margin-bottom: 1.5rem;
}

@media (min-width: 992px) {
  .pe-c-benefit-card {
    margin-bottom: 0rem;
  }
}

.pe-c-benefit-card__image {
  width: 40px;
  height: 40px;
  margin-right: 1rem;
  align-self: flex-start;
}

@media (min-width: 576px) {
  .pe-c-benefit-card__image {
    align-self: center;
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

@media (min-width: 576px) {
  .pe-c-benefit-card__body {
    text-align: center;
  }
}

.pe-c-faq-accordian__rating,
.pe-c-faq-accordian__invest,
.pe-c-faq-accordian__fees {
  border-bottom: 1px solid #e2e8f0;
}

.pe-c-faq-accordian__rating__header--focus .pe-c-faq-accordian__rating__header__button,
.pe-c-faq-accordian__invest__header--focus .pe-c-faq-accordian__rating__header__button,
.pe-c-faq-accordian__fees__header--focus .pe-c-faq-accordian__rating__header__button, .pe-c-faq-accordian__rating__header--focus
.pe-c-faq-accordian__invest__header__button,
.pe-c-faq-accordian__invest__header--focus
.pe-c-faq-accordian__invest__header__button,
.pe-c-faq-accordian__fees__header--focus
.pe-c-faq-accordian__invest__header__button, .pe-c-faq-accordian__rating__header--focus
.pe-c-faq-accordian__fees__header__button,
.pe-c-faq-accordian__invest__header--focus
.pe-c-faq-accordian__fees__header__button,
.pe-c-faq-accordian__fees__header--focus
.pe-c-faq-accordian__fees__header__button {
  outline: none;
  background: #f2f2f2;
}

.pe-c-faq-accordian__rating__header__button,
.pe-c-faq-accordian__invest__header__button,
.pe-c-faq-accordian__fees__header__button {
  width: 100%;
  text-align: left;
  padding: 1rem 12px;
  border-top: 1px solid #e2e8f0;
  transition: background-color 0.2s ease;
  user-select: none;
  position: relative;
}

.pe-c-faq-accordian__rating__header__button:after,
.pe-c-faq-accordian__invest__header__button:after,
.pe-c-faq-accordian__fees__header__button:after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://www.dropbox.com/s/qsdo9qlczvsc9rg/cheveron-down.svg?raw=1);
  top: 17px;
  right: 10px;
}

.pe-c-faq-accordian__rating__header--open .pe-c-faq-accordian__rating__header__button:after,
.pe-c-faq-accordian__invest__header--open .pe-c-faq-accordian__rating__header__button:after,
.pe-c-faq-accordian__fees__header--open .pe-c-faq-accordian__rating__header__button:after, .pe-c-faq-accordian__rating__header--open
.pe-c-faq-accordian__invest__header__button:after,
.pe-c-faq-accordian__invest__header--open
.pe-c-faq-accordian__invest__header__button:after,
.pe-c-faq-accordian__fees__header--open
.pe-c-faq-accordian__invest__header__button:after, .pe-c-faq-accordian__rating__header--open
.pe-c-faq-accordian__fees__header__button:after,
.pe-c-faq-accordian__invest__header--open
.pe-c-faq-accordian__fees__header__button:after,
.pe-c-faq-accordian__fees__header--open
.pe-c-faq-accordian__fees__header__button:after {
  background-image: url(../../images/svg/cheveron-up.svg);
}

.pe-c-faq-accordian__rating__content,
.pe-c-faq-accordian__invest__content,
.pe-c-faq-accordian__fees__content {
  display: none;
  overflow: hidden;
  height: 0;
  transition: height 0.1s ease 0.1s;
}

.pe-c-faq-accordian__rating__content--open,
.pe-c-faq-accordian__invest__content--open,
.pe-c-faq-accordian__fees__content--open {
  display: block;
  transition: height 0.2s ease;
}

.pe-c-faq-accordian__rating__content--opened,
.pe-c-faq-accordian__invest__content--opened,
.pe-c-faq-accordian__fees__content--opened {
  overflow: visible;
}

.pe-c-faq-accordian__rating__content--notransition,
.pe-c-faq-accordian__invest__content--notransition,
.pe-c-faq-accordian__fees__content--notransition {
  transition: none;
}

.pe-c-faq-accordian__rating__content__inner,
.pe-c-faq-accordian__invest__content__inner,
.pe-c-faq-accordian__fees__content__inner {
  padding: 0px 12px 1rem 12px;
  opacity: 0;
  transition: opacity 0.1s ease;
}

.pe-c-faq-accordian__rating__content--opened .pe-c-faq-accordian__rating__content__inner,
.pe-c-faq-accordian__invest__content--opened .pe-c-faq-accordian__rating__content__inner,
.pe-c-faq-accordian__fees__content--opened .pe-c-faq-accordian__rating__content__inner, .pe-c-faq-accordian__rating__content--opened
.pe-c-faq-accordian__invest__content__inner,
.pe-c-faq-accordian__invest__content--opened
.pe-c-faq-accordian__invest__content__inner,
.pe-c-faq-accordian__fees__content--opened
.pe-c-faq-accordian__invest__content__inner, .pe-c-faq-accordian__rating__content--opened
.pe-c-faq-accordian__fees__content__inner,
.pe-c-faq-accordian__invest__content--opened
.pe-c-faq-accordian__fees__content__inner,
.pe-c-faq-accordian__fees__content--opened
.pe-c-faq-accordian__fees__content__inner {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.pe-c-rating-accordion__header--opened {
  background: #ffffff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.pe-c-rating-accordion__header--focus .pe-c-rating-accordion__header__button {
  outline: none;
}

.pe-c-rating-accordion__header__button {
  width: 100%;
  text-align: left;
  padding: 12px 12px 12px 2.25rem;
  transition: background-color 0.2s ease;
  user-select: none;
  position: relative;
}

.pe-c-rating-accordion__header__button::before {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
  top: 14px;
  left: 12px;
}

.pe-c-rating-accordion__header__button.recommended::before {
  background-image: url(../images/svg/mark.svg);
}

.pe-c-rating-accordion__header__button.top-ranked::before {
  background-image: url(../images/svg/star-circled.svg);
}

.pe-c-rating-accordion__header__button.not-recommended::before {
  background-image: url(../images/svg/not-recommended.svg);
}

.pe-c-rating-accordion__content {
  display: none;
  overflow: hidden;
  height: 0;
  transition: height 0.1s ease 0.1s;
}

.pe-c-rating-accordion__content--open {
  display: block;
  transition: height 0.2s ease;
}

.pe-c-rating-accordion__content--opened {
  overflow: visible;
  background: #ffffff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.pe-c-rating-accordion__content--notransition {
  transition: none;
}

.pe-c-rating-accordion__content__inner {
  padding: 4px 12px 12px 12px;
  opacity: 0;
  transition: opacity 0.1s ease;
}

.pe-c-rating-accordion__content--opened .pe-c-rating-accordion__content__inner {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.pe-c-rating-tabs {
  position: relative;
  overflow: hidden;
}

@media (min-width: 576px) {
  .pe-c-rating-tabs {
    overflow: visible;
  }
}

.pe-c-rating-tabs .tabs {
  display: inline-flex;
  border-radius: 6px;
  background: #cbe3f6;
  padding: 3px;
}

.pe-c-rating-tabs .tabs .tab {
  font-size: 14px;
  line-height: 1.4;
  padding: 5px 15px;
  color: #181818;
  opacity: 0.7;
  text-align: center;
  cursor: pointer;
  border-radius: 6px;
}

.pe-c-rating-tabs .tabs .tab.sel {
  color: #404040;
  opacity: 1;
  font-weight: 500;
  background: #ffffff;
  box-shadow: 0px 0.5px 2px rgba(0, 0, 0, 0.1), 0px 2px 3px rgba(0, 0, 0, 0.07);
}

.pe-c-rating-tabs__item {
  padding-top: 1rem;
}

@media (min-width: 992px) {
  .pe-c-rating-tabs__item {
    padding-top: 0rem;
    padding-bottom: 1rem;
  }
}

.pe-c-rating-tabs::after {
  content: "";
  position: absolute;
  width: 57px;
  height: 57px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/svg/multi-start.svg);
  right: -15px;
  top: 9px;
}

@media (min-width: 576px) {
  .pe-c-rating-tabs::after {
    right: -15px;
    top: 9px;
  }
}

@media (min-width: 768px) {
  .pe-c-rating-tabs::after {
    top: 9px;
    right: 60px;
  }
}

@media (min-width: 992px) {
  .pe-c-rating-tabs::after {
    top: -23px;
    right: -17px;
  }
}

@media (min-width: 1200px) {
  .pe-c-rating-tabs::after {
    top: -23px;
    right: 25px;
  }
}

.pe-c-rating-card__top-left, .pe-c-rating-card__top-right, .pe-c-rating-card__bottom-left, .pe-c-rating-card__bottom-right {
  position: relative;
  box-shadow: 0px 0.5px 2px rgba(0, 0, 0, 0.1), 0px 2px 3px rgba(0, 0, 0, 0.07);
  background: #ffffff;
  width: 100%;
  padding: 16px 12px;
  max-width: 255px;
  width: 100%;
}

@media (min-width: 576px) {
  .pe-c-rating-card__top-left, .pe-c-rating-card__top-right, .pe-c-rating-card__bottom-left, .pe-c-rating-card__bottom-right {
    padding: 1.5rem;
  }
}

.pe-c-rating-card__top-left::after, .pe-c-rating-card__top-right::after, .pe-c-rating-card__bottom-left::after, .pe-c-rating-card__bottom-right::after {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 2;
}

.pe-c-rating-card__top-left, .pe-c-rating-card__bottom-left {
  max-width: 255px;
}

.pe-c-rating-card__top-right, .pe-c-rating-card__bottom-right {
  max-width: 285px;
}

.pe-c-rating-card__top {
  display: flex;
}

.pe-c-rating-card__top-left {
  border-radius: 6px 0 0 0;
}

@media (min-width: 576px) {
  .pe-c-rating-card__top-left {
    padding: 1.5rem;
  }
}

.pe-c-rating-card__top-left::after {
  height: 84px;
  width: 2px;
  background-image: url(../images/svg/vertical-line.svg);
  right: -1px;
  bottom: -42px;
}

.pe-c-rating-card__top-right {
  border-radius: 0 6px 0 0;
}

.pe-c-rating-card__top-right::after {
  height: 2px;
  width: 84px;
  background-image: url(../images/svg/horizantal-line.svg);
  left: -42px;
  bottom: -1px;
}

.pe-c-rating-card__bottom {
  display: flex;
}

.pe-c-rating-card__bottom-left {
  border-radius: 0 0 0 6px;
}

.pe-c-rating-card__bottom-right {
  border-radius: 0 0 6px 0;
}

.pe-c-rating-card figure {
  width: 32px;
  height: 32px;
  margin-bottom: 1.125rem;
}

.pe-c-rating-card h4 {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.12;
  color: #000000;
  margin-bottom: 0.5rem;
}

.pe-c-rating-card p {
  font-size: 14px;
  line-height: 1.5;
  color: #737373;
}

.pe-c-journey-card {
  padding: 1.5rem 1.5rem 2rem 1.5rem;
  position: relative;
  border-radius: 12px;
  box-shadow: 0px 0.5px 2px rgba(0, 0, 0, 0.1);
}

@media (min-width: 576px) {
  .pe-c-journey-card {
    padding: 24px 18px 32px 24px;
  }
}

.pe-c-journey-card.long-term-wealth-card {
  background: linear-gradient(180deg, #dbfff0 0%, #d1fce2 100%);
}

.pe-c-journey-card.long-term-wealth-card:hover .pe-button-primary {
  background-color: #1c9778;
}

.pe-c-journey-card.short-term-wealth-card {
  background: linear-gradient(360deg, #f7e4b9 -102.12%, #fef8eb 109.19%);
}

.pe-c-journey-card.short-term-wealth-card:hover .pe-button-primary {
  background-color: #dd6b20;
}

.pe-c-journey-card.save-tax-card {
  background: linear-gradient(180deg, #eef9ff 10.95%, #cce2ff 246.29%);
}

.pe-c-journey-card.save-tax-card:hover .pe-button-primary {
  background-color: #1971e4;
}

.pe-c-journey-card.emergency-ready-card {
  background: linear-gradient(180deg, #fff5f5 10.95%, #fed7d7 246.29%);
}

.pe-c-journey-card.emergency-ready-card:hover .pe-button-primary {
  background-color: #d53f8c;
}

.pe-c-journey-card__info {
  margin-bottom: 22px;
}

@media (min-width: 576px) {
  .pe-c-journey-card__info {
    margin-bottom: 20px;
  }
}

.pe-c-journey-card__info .pe-h6 {
  margin-bottom: 0.5rem;
}

.pe-c-journey-card__info .pe-p1 {
  color: #595959;
  max-width: 220px;
}

@media (min-width: 576px) {
  .pe-c-journey-card__info .pe-p1 {
    max-width: 270px;
  }
}

@media (min-width: 768px) {
  .pe-c-journey-card__info .pe-p1 {
    max-width: 180px;
  }
}

.pe-c-journey-card__info figure {
  position: absolute;
  top: -4px;
  right: 4px;
}

.long-term-wealth-card .pe-c-journey-card__info figure,
.save-tax-card .pe-c-journey-card__info figure {
  width: 40px;
  height: 40px;
}

.emergency-ready-card .pe-c-journey-card__info figure,
.short-term-wealth-card .pe-c-journey-card__info figure {
  width: 50px;
  height: 50px;
}

@media (min-width: 576px) {
  .pe-c-journey-card__info figure {
    top: -4px;
    right: 14px;
  }
  .long-term-wealth-card .pe-c-journey-card__info figure,
  .save-tax-card .pe-c-journey-card__info figure {
    width: 60px;
    height: 60px;
  }
  .emergency-ready-card .pe-c-journey-card__info figure,
  .short-term-wealth-card .pe-c-journey-card__info figure {
    width: 70px;
    height: 70px;
  }
}

@media (min-width: 768px) {
  .pe-c-journey-card__info figure {
    top: -4px;
    right: 4px;
  }
  .long-term-wealth-card .pe-c-journey-card__info figure,
  .save-tax-card .pe-c-journey-card__info figure {
    width: 40px;
    height: 40px;
  }
  .emergency-ready-card .pe-c-journey-card__info figure,
  .short-term-wealth-card .pe-c-journey-card__info figure {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 1200px) {
  .pe-c-journey-card__info figure {
    top: -4px;
    right: 14px;
  }
  .long-term-wealth-card .pe-c-journey-card__info figure,
  .save-tax-card .pe-c-journey-card__info figure {
    width: 60px;
    height: 60px;
  }
  .emergency-ready-card .pe-c-journey-card__info figure,
  .short-term-wealth-card .pe-c-journey-card__info figure {
    width: 70px;
    height: 70px;
  }
}

.pe-c-journey-card__list {
  margin-bottom: 28px;
}

.pe-c-card-list-item {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.35;
  margin-bottom: 8px;
  color: #181818;
}

.pe-c-card-list-item figure {
  width: 16px;
  height: 16px;
  margin-right: 12px;
}
/*# sourceMappingURL=global.css.map */