@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  src: local("Inter"), url("../fonts/Inter-Regular.woff2?v=3.13") format("woff2"), url("../fonts/Inter-Regular.woff?v=3.13") format("woff");
}

@font-face {
  font-family: "Inter";
  font-weight: 500;
  font-style: normal;
  src: local("Inter"), url("../fonts/Inter-Medium.woff2?v=3.13") format("woff2"), url("../fonts/Inter-Medium.woff?v=3.13") format("woff");
}

@font-face {
  font-family: "Inter";
  font-weight: 600;
  font-style: normal;
  src: local("Inter"), url("../fonts/Inter-SemiBold.woff2?v=3.13") format("woff2"), url("../fonts/Inter-SemiBold.woff?v=3.13") format("woff");
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  src: local("Inter"), url("../fonts/Inter-Bold.woff2?v=3.13") format("woff2"), url("../fonts/Inter-Bold.woff?v=3.13") format("woff");
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
}

figure {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pe--overflow-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.m-2-25 {
  margin: 0.675rem !important;
}

.mt-2-25,
.my-2-25 {
  margin-top: 0.675rem !important;
}

.mr-2-25,
.mx-2-25 {
  margin-right: 0.675rem !important;
}

.mb-2-25,
.my-2-25 {
  margin-bottom: 0.675rem !important;
}

.ml-2-25,
.mx-2-25 {
  margin-left: 0.675rem !important;
}

.pe-h1 {
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.1;
  letter-spacing: 0.01em;
}

@media (min-width: 576px) {
  .pe-h1 {
    font-size: 1.875rem;
    line-height: 1.3;
    letter-spacing: 0.02em;
  }
}

@media (min-width: 768px) {
  .pe-h1 {
    font-size: 2.25rem;
    line-height: 1.1;
  }
}

.pe-h5 {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
}

.pe-h2 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.1;
  color: #181818;
}

@media (min-width: 576px) {
  .pe-h2 {
    font-size: 1.75rem;
    line-height: 1.15;
    letter-spacing: 0.01em;
  }
}

.pe-h4 {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  color: #181818;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .pe-h4 {
    font-size: 1rem;
    margin-bottom: 12px;
  }
}

.pe-h4__md {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.pe-h4__static {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.1;
  color: #181818;
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .pe-h4__static {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 4px;
  }
}

.pe-h2__social-proof {
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: #ffffff;
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .pe-h2__social-proof {
    font-size: 1.5rem;
    line-height: 1.13;
    letter-spacing: 0.01em;
  }
}

@media (min-width: 992px) {
  .pe-h2__social-proof {
    font-size: 1.75rem;
    line-height: 1.15;
    letter-spacing: 0.01em;
  }
}

.pe-h2__social-proof img {
  width: 20px;
  height: 20px;
}

.pe-h6 {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.1;
  color: #181818;
}

.pe-p__lead {
  font-size: 15px;
  line-height: 1.3;
}

@media (min-width: 576px) {
  .pe-p__lead {
    font-size: 1rem;
    line-height: 1.5;
  }
}

@media (min-width: 768px) {
  .pe-p__lead {
    font-size: 1.125rem;
    line-height: 1.6;
  }
}

.pe-p1 {
  font-size: 14px;
  line-height: 1.4;
}

.pe-p2 {
  font-size: 13px;
  line-height: 1.2;
}

.pe-p__medium {
  font-size: 14px;
  line-height: 1.5;
  color: #737373;
}

@media (min-width: 576px) {
  .pe-p__medium {
    font-size: 1rem;
    line-height: 1.6;
  }
}

.pe-p__sm {
  font-size: 14px;
  line-height: 1.4;
  color: #404040;
}

@media (min-width: 768px) {
  .pe-p__sm {
    font-size: 13px;
  }
}

.pe-p__invest-card {
  font-size: 14px;
  line-height: 1.4;
  color: #737373;
}

.pe-p__social-proof {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  color: #ffffff;
}

.pe-p__faq {
  font-size: 14px;
  line-height: 1.4;
  color: #595959;
}

.pe-p__rating-recommendation {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4;
  color: #343434;
}

.pe-p__rating-button {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  color: #404040;
}

.pe-input__autocomplete {
  font-size: 0.875rem;
  width: 100%;
  padding: 0.75rem 2.5rem 0.75rem 1rem;
  background-image: url(../images/svg/search-icon.svg);
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: top 0.75rem right 0.75rem;
  box-shadow: 0px 0.5px 2px rgba(0, 0, 0, 0.1), 0px 2px 3px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  transition: 0.15s ease-in-out;
}

.pe-input__autocomplete:focus {
  outline: none;
}

@media (min-width: 576px) {
  .pe-input__autocomplete {
    font-size: 1rem;
    padding: 0.875rem 3rem 0.875rem 1rem;
    background-size: 1.125rem;
    background-position: top 0.875rem right 0.875rem;
    box-shadow: 0px 0.5px 2px rgba(0, 0, 0, 0.1);
    border: 1px solid #d9d9d9;
  }
  .pe-input__autocomplete:hover, .pe-input__autocomplete:active, .pe-input__autocomplete:focus {
    border: 1px solid #f58024;
  }
}

.pe-a {
  color: #1971e4;
}

.pe-a:hover {
  text-decoration: underline;
}

.pe-a__nav {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1;
  padding: 0.5rem 0.75rem;
  border-radius: 8px;
  transition: 0.15s ease-in-out;
}

.pe-a__nav__icon {
  width: 20px;
  height: 20px;
}

@media (min-width: 576px) {
  .pe-a__nav__icon {
    width: 16px;
    height: 16px;
    margin-right: 0.375rem;
  }
}

.pe-a__nav:hover, .pe-a__nav:active, .pe-a__nav:focus {
  outline: none;
}

.pe-a__nav--secondary {
  color: #ffffff;
}

.pe-a__nav--secondary:hover, .pe-a__nav--secondary:active, .pe-a__nav--secondary:focus {
  background-color: #dd6b20;
}

.pe-a__nav--primary {
  color: #dd6b20;
  background: #ffffff;
}

.pe-a__nav--primary:hover, .pe-a__nav--primary:active, .pe-a__nav--primary:focus {
  background-color: #f9f9f9;
}

.pe-btn-primary {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  color: #ffffff;
  background: #0fac85;
  padding: 13px 0;
  width: 100%;
  border-radius: 6px;
  transition: 0.15s ease-in-out;
}

.short-term .pe-btn-primary {
  background-color: #f58024;
}

.save-taxes .pe-btn-primary {
  background-color: #007aff;
}

.emergency .pe-btn-primary {
  background-color: #ed64a6;
}

@media (min-width: 576px) {
  .pe-btn-primary {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.15;
    padding: 8px 12px;
  }
}

.pe-btn-primary:hover, .pe-btn-primary:active, .pe-btn-primary:focus {
  outline: none;
}

.pe-btn-secondary {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.15;
  color: #1971e4;
  background: #ffffff;
  border-radius: 6px;
  padding: 8px 12px;
}

.pe-btn-secondary svg {
  margin-left: 12px;
}

.pe-btn-secondary:hover {
  background-color: #f2f2f2;
}

.pe-button-primary {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4;
  color: #ffffff !important;
  background: transparent;
  padding: 8px 12px;
  border-radius: 6px;
  box-shadow: 0px 0.5px 2px rgba(0, 0, 0, 0.1), 0px 2px 3px rgba(0, 0, 0, 0.07);
  transition: 0.15s ease-in-out;
}

.long-term-wealth-card .pe-button-primary {
  background: #0fac85;
}

.save-tax-card .pe-button-primary {
  background: #007aff;
}

.emergency-ready-card .pe-button-primary {
  background: #ed64a6;
}

.short-term-wealth-card .pe-button-primary {
  background: #f58024;
}

.pe-button-primary:hover, .pe-button-primary:active, .pe-button-primary:focus {
  outline: none;
}
/*# sourceMappingURL=global.css.map */