.pe-l-header {
  background: #f58024;
}

.pe-l-hero {
  background: #f58024;
}

@media (min-width: 576px) {
  .pe-l-hero {
    background: #f9f8f3;
  }
}

.pe-l-hero__content {
  padding: 0.75rem 0 1.5rem 0;
}

@media (min-width: 576px) {
  .pe-l-hero__content {
    padding: 4rem 0;
  }
}

@media (min-width: 992px) {
  .pe-l-hero__content {
    height: 100%;
    max-width: 400px;
  }
}

.pe-l-top-funds {
  margin-top: 1.875rem;
}

@media (min-width: 576px) {
  .pe-l-top-funds {
    margin: 5rem 0;
  }
}

@media (min-width: 992px) {
  .pe-l-top-funds {
    margin: 7rem 0 7.3125rem 0;
  }
}

.pe-l-top-funds__header {
  text-align: center;
  max-width: 300px;
  margin-bottom: 20px;
}

.pe-l-top-funds__header p {
  max-width: 314px;
}

@media (min-width: 576px) {
  .pe-l-top-funds__header p {
    max-width: 348px;
  }
}

@media (min-width: 576px) {
  .pe-l-top-funds__header {
    max-width: 561px;
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .pe-l-top-funds__header {
    margin-bottom: 40px;
  }
}

.pe-l-top-funds__all-funds {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.pe-l-top-funds__all-funds a {
  display: flex;
  font-weight: 500;
  font-size: 0.875rem;
  color: #595959;
  padding: 12px;
  border-radius: 6px;
  box-shadow: 0px 1px 0px #e2e8f0, 0px -1px 0px #e2e8f0;
}

.pe-l-top-funds__all-funds a img {
  margin-left: 12px;
}

.pe-l-top-funds__all-funds a:hover {
  background: #f9f9f9;
}

@media (min-width: 576px) {
  .pe-l-top-funds__all-funds a {
    padding: 8px 12px;
    margin-top: 1.25rem;
    box-shadow: none;
  }
}

.pe-l-rating-method {
  padding: 2rem 0;
  background: #ebf8ff;
}

@media (min-width: 992px) {
  .pe-l-rating-method {
    padding: 4rem 0;
  }
}

@media (min-width: 1200px) {
  .pe-l-rating-method {
    padding: 8rem 0 6rem 0;
  }
}

.pe-l-rating-method__grid {
  display: grid;
  grid-template-rows: 0fr 1fr;
  grid-auto-rows: minmax(min-content, max-content);
  gap: 0rem 1rem;
  grid-template-columns: 1fr;
  grid-template-areas: "intro-section-rating-method" "fund-types" "accordion-header" "accordion";
}

@media (min-width: 992px) {
  .pe-l-rating-method__grid {
    grid-template-columns: 5fr 7fr;
    grid-template-areas: "intro-section-rating-method fund-types" "accordion fund-types";
  }
}

.pe-l-rating-method__intro {
  text-align: center;
  max-width: 314px;
  margin: 0 auto;
  grid-area: intro-section-rating-method;
  margin-bottom: 30px;
}

.pe-l-rating-method__intro .pe-p__faq {
  margin-bottom: 8px;
}

@media (min-width: 576px) {
  .pe-l-rating-method__intro .pe-p__faq {
    margin-bottom: 12px;
  }
}

.pe-l-rating-method__intro .pe-h2 {
  margin-bottom: 12px;
}

@media (min-width: 576px) {
  .pe-l-rating-method__intro .pe-h2 {
    margin-bottom: 8px;
  }
}

@media (min-width: 992px) {
  .pe-l-rating-method__intro .pe-p__medium {
    max-width: 350px;
  }
}

@media (min-width: 576px) {
  .pe-l-rating-method__intro {
    max-width: none;
    margin-bottom: 24px;
  }
}

@media (min-width: 992px) {
  .pe-l-rating-method__intro {
    text-align: left;
  }
}

.pe-l-rating-method .pe-p__rating-recommendation {
  padding: 1.25rem 0rem;
  margin: 0 auto;
  grid-area: accordion-header;
}

.pe-l-rating-method .pe-c-rating-accordion {
  grid-area: accordion;
  max-width: 100%;
}

@media (min-width: 992px) {
  .pe-l-rating-method .pe-c-rating-accordion {
    max-width: 350px;
  }
}

.pe-l-rating-method .pe-c-rating-tabs {
  grid-area: fund-types;
}

.pe-l-why-scripbox {
  padding: 2.5rem 0;
  background-color: #f9f8f3;
}

@media (min-width: 768px) {
  .pe-l-why-scripbox {
    padding: 4rem 0;
  }
}

@media (min-width: 992px) {
  .pe-l-why-scripbox {
    padding: 5rem 0;
  }
}

.pe-l-why-scripbox__header {
  max-width: 538px;
  margin-bottom: 2rem;
}

.pe-l-why-scripbox__header .pe-h2 {
  margin-bottom: 8px;
}

.pe-l-why-scripbox__header .pe-p__medium {
  margin-bottom: 1.25rem;
  text-align: center;
}

@media (min-width: 576px) {
  .pe-l-why-scripbox__header {
    margin-bottom: 3.5rem;
  }
  .pe-l-why-scripbox__header .pe-h2 {
    margin-bottom: 12px;
  }
  .pe-l-why-scripbox__header .pe-p__medium {
    margin-bottom: 1.5rem;
  }
}

.pe-l-social-proof {
  padding: 3rem 2.0625rem;
  background: linear-gradient(193.08deg, #275393 14.23%, #173167 81.6%);
  color: #ffffff;
}

@media (min-width: 768px) {
  .pe-l-social-proof {
    padding: 2rem 0;
  }
}

@media (min-width: 992px) {
  .pe-l-social-proof {
    padding: 3.875rem 0;
  }
}

.pe-l-social-proof__info:nth-child(1), .pe-l-social-proof__info:nth-child(2) {
  margin-bottom: 42px;
}

@media (min-width: 576px) {
  .pe-l-social-proof__info {
    text-align: center;
  }
}

@media (min-width: 992px) {
  .pe-l-social-proof__info:nth-child(1), .pe-l-social-proof__info:nth-child(2) {
    margin-bottom: 0;
  }
}

.pe-l-faq {
  max-width: 730px;
  margin-right: auto;
  margin-left: auto;
  padding: 3rem 0;
}

@media (min-width: 576px) {
  .pe-l-faq {
    padding-top: 3.875rem;
    padding-bottom: 6.125rem;
  }
}

.pe-l-faq .pe-h2 {
  margin-bottom: 1.25rem;
  text-align: center;
}

@media (min-width: 576px) {
  .pe-l-faq .pe-h2 {
    margin-bottom: 1rem;
  }
}
/*# sourceMappingURL=page-rating.css.map */