.#{$prefix}button-primary {
  @include font(600, 14px, 1.4, null);
  color: $white;
  background: transparent;
  padding: 8px 12px;
  border-radius: 6px;
  box-shadow: 0px 0.5px 2px rgba(0, 0, 0, 0.1), 0px 2px 3px rgba(0, 0, 0, 0.07);
  transition: $transition-base;

  .long-term-wealth-card & {
    background: $green-500;
  }

  .save-tax-card & {
    background: $blue-500;
  }

  .emergency-ready-card & {
    background: $pink-400;
  }

  .short-term-wealth-card & {
    background: $orange-400;
  }

  @include pseudo {
    outline: none;
  }
}

.#{$prefix}btn-secondary {
  display: flex;
  align-items: center;
  @include font(600, 14px, 1.15, null);
  color: $blue-600;
  background: $white;
  border-radius: 6px;
  padding: 8px 12px;

  svg {
    margin-left: 12px;
  }

  &:hover {
    background-color: $gray-100;
  }
}
