.#{$prefix}btn-primary {
  @include font(600, 16px, 1.2, null);
  color: $white;
  background: $green-500;
  padding: 13px 0;
  width: 100%;
  border-radius: 6px;
  transition: $transition-base;

  .short-term & {
    background-color: $orange-400;
  }

  .save-taxes & {
    background-color: $blue-500;
  }

  .emergency & {
    background-color: $pink-400;
  }

  @include sm {
    @include font(600, 14px, 1.15, null);
    padding: 8px 12px;
  }

  @include pseudo {
    outline: none;
  }
}
