.#{$prefix}a {
  color: #1971e4;

  &:hover {
    text-decoration: underline;
  }
}

// Nav Link

.#{$prefix}a__nav {
  @include flex(null, center);
  // font-weight: 600;
  // font-size: 14px;
  // line-height: 16px;
  @include font(600, 0.875rem, 1.14, null);
  padding: 0.5rem 0.75rem;
  border-radius: $border-radius-2;
  transition: $transition-base;

  &__icon {
    @include box(20px);

    @include sm {
      @include box(16px);
      margin-right: 0.375rem;
    }
  }

  @include pseudo {
    outline: none;
  }

  &--secondary {
    color: $white;

    @include pseudo {
      background-color: $orange-500;
    }
  }

  &--primary {
    color: $orange-500;
    background: $white;

    @include pseudo {
      background-color: $gray-50;
    }
  }
}
