.#{$prefix}c-badge {
  position: relative;
  // font-weight: 500;
  // font-size: 13px;
  // line-height: 15px;
  @include font(500, 13px, 1.15, null);
  padding: 2px 6px 2px 1.375rem;
  border-radius: $border-radius-1-5;
  text-transform: capitalize;

  &:before {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-size: contain;
    left: 6px;
    top: 3.5px;
  }

  &.recommended {
    color: $orange-400;
    background-color: $orange-100;

    &:before {
      background-image: url("../images/svg/mark.svg");
    }
  }

  &.top-ranked {
    color: $green-500;

    &:before {
      background-image: url("../images/svg/star-circled.svg");
    }
  }

  &.not-recommended {
    &:before {
      background-image: url("../images/svg/not-recommended.svg");
    }
  }
}
