.#{$prefix}c-benefit-card {
  margin-bottom: 1.5rem;

  @include lg {
    margin-bottom: 0rem;
  }

  &__image {
    @include box(40px);
    margin-right: 1rem;
    align-self: flex-start;

    @include sm {
      align-self: center;
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }

  &__body {
    .pe-p1 {
      color: $gray-500;
    }

    @include sm {
      text-align: center;
    }
  }
}

.#{$prefix}h4__benefit-card {
  // font-weight: 600;
  // font-size: 16px;
  // line-height: 18px;
  @include font(600, 1rem, null, null);
  margin-bottom: 0.5rem;
}
