.#{$prefix}c-card-list-item {
  display: flex;
  align-items: center;
  // font-weight: 500;
  // font-size: 15px;
  // line-height: 22px;
  @include font(500, 14px, 1.35, null);
  color: $gray-900;
  margin-bottom: 0.5rem;

  @include mobile {
    font-size: 15px;
  }

  figure {
    @include box(16px);
    margin-right: 0.75rem;
  }
}
