.#{$prefix}c-faq-accordian__rating,
.#{$prefix}c-faq-accordian__invest,
.#{$prefix}c-faq-accordian__fees {
  border-bottom: 1px solid #e2e8f0;

  &__header--focus &__header__button {
    outline: none;
    background: $gray-100;
  }

  &__header__button {
    width: 100%;
    // font-weight: 600;
    // font-size: 14px;
    // line-height: 16px;
    @include font(600, 14px, 1.2, null);
    text-align: left;
    padding: 1rem 12px;
    border-top: 1px solid #e2e8f0;
    transition: $handorgel__header__button-transition;
    user-select: none;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      @include box(16px);
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url(https://www.dropbox.com/s/qsdo9qlczvsc9rg/cheveron-down.svg?raw=1);
      top: 17px;
      right: 10px;
    }
  }

  &__header--open &__header__button {
    &:after {
      background-image: url(../../images/svg/cheveron-up.svg);
    }
  }

  &__content {
    display: none;
    overflow: hidden;
    height: 0;
    transition: $handorgel__content-transition;

    &--open {
      display: block;
      transition: $handorgel__content--open-transition;
    }

    &--opened {
      overflow: visible;
    }

    &--notransition {
      transition: none;
    }
  }

  &__content__inner {
    padding: 0px 12px 1rem 12px;
    opacity: 0;
    transition: $handorgel__content__inner-transition;
  }

  &__content--opened &__content__inner {
    opacity: 1;
    transition: $handorgel__content--opened__inner-transition;
  }
}
