.#{$prefix}c-footer__accordion1,
.#{$prefix}c-footer__accordion2 {
  padding: 0 0.5rem;
  margin: 0 -15px;

  &__header--focus &__header__button {
    outline: none;
  }

  &__header__button {
    width: 100%;
    // font-weight: 600;
    // font-size: 13px;
    // line-height: 14px;
    @include font(600, 14px, 1.14, null);
    text-align: left;
    color: $white;
    padding: 0.75rem 0.5rem;
    border-bottom: 1px solid #353b44;
    transition: $handorgel__header__button-transition;
    user-select: none;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      @include box(16px);
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url(../images/svg/cheveron-down-white.svg);
      top: 12px;
      right: 10px;
    }
  }

  &__header--open &__header__button {
    border-bottom: unset;

    &:after {
      background-image: url(../../images/svg/cheveron-up-white.svg);
    }
  }

  &__content {
    display: none;
    overflow: hidden;
    height: 0;
    transition: $handorgel__content-transition;

    &--open {
      display: block;
      border-bottom: 1px solid #353b44;
      transition: $handorgel__content--open-transition;
    }

    &--opened {
      overflow: visible;
    }

    &--notransition {
      transition: none;
    }
  }

  &__content__inner {
    padding: 0.75rem 0.5rem;
    opacity: 0;
    transition: $handorgel__content__inner-transition;

    li {
      // font-weight: 500;
      // font-size: 13px;
      // line-height: 8px;
      @include font(500, 13px, 0.62, null);
      color: $gray-300;
      margin-bottom: 1rem;
    }
  }

  &__content--opened &__content__inner {
    opacity: 1;
    transition: $handorgel__content--opened__inner-transition;
  }
}
