// Nav Link Placeholder

%nav-link {
  @include flex(null, center);
  border-radius: $border-radius-2;
  transition: $transition-base;
  padding: 0.5rem 0.75rem;
  @include font(600, 0.875rem, 1, null);

  @include pseudo {
    outline: none;
  }
}

// Nav

.#{$prefix}c-nav {
  &__link {
    @extend %nav-link;
    color: $white;

    &-icon {
      @include box(20px);

      @include sm {
        @include box(16px);
      }
    }

    @include pseudo {
      background-color: $orange-500;
    }
  }

  &__link--inverse {
    @extend %nav-link;
    color: $orange-500;
    background: $white;

    @include pseudo {
      background-color: $gray-50;
    }
  }
}
