@import "../components/rating-card";

.#{$prefix}c-rating-tabs {
  position: relative;
  overflow: hidden;

  @include sm {
    overflow: visible;
  }

  .tabs {
    display: flex;
    border-radius: $border-radius-1-5;
    background: $blue-100;
    padding: 3px;

    .tab {
      @include font(null, 14px, 1.4, null);
      padding: 5px 15px;
      color: $gray-900;
      opacity: 0.7;
      text-align: center;
      border-radius: $border-radius-1-5;
      cursor: pointer;

      &.sel {
        font-weight: 500;
        color: $gray-700;
        opacity: 1;
        background: $white;
        box-shadow: 0px 0.5px 2px rgba(0, 0, 0, 0.1), 0px 2px 3px rgba(0, 0, 0, 0.07);
      }
    }
  }

  &__item {
    padding-top: 1rem;

    @include lg {
      padding-top: 0rem;
      padding-bottom: 1rem;
    }
  }

  &::after {
    content: "";
    position: absolute;
    @include box(57px);
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/svg/multi-start.svg);
    right: -15px;
    top: 9px;

    @include sm {
      right: -15px;
      top: 9px;
    }

    @include md {
      top: 9px;
      right: 60px;
    }

    @include lg {
      top: -23px;
      right: -17px;
    }

    @include xl {
      top: -23px;
      right: 25px;
    }
  }
}
