.#{$prefix}c-recommended__border {
  @include box(4px, 48px);
  background: transparent;
  border-radius: 27px;
  margin-right: 2px;
  flex-shrink: 0;

  &--active {
    background: $orange-400;
  }
}
