@include font-face(Inter, "../fonts/Inter-Regular", 400);
@include font-face(Inter, "../fonts/Inter-Medium", 500);
@include font-face(Inter, "../fonts/Inter-SemiBold", 600);
@include font-face(Inter, "../fonts/Inter-Bold", 700);

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  position: relative;
}

figure {
  @include flex(null, center, center);
}

.#{$prefix}overflow-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.m-2-25 {
  margin: 0.675rem !important;
}
.mt-2-25,
.my-2-25 {
  margin-top: 0.675rem !important;
}
.mr-2-25,
.mx-2-25 {
  margin-right: 0.675rem !important;
}
.mb-2-25,
.my-2-25 {
  margin-bottom: 0.675rem !important;
}
.ml-2-25,
.mx-2-25 {
  margin-left: 0.675rem !important;
}
