%primary-tab {
  .tabs {
    display: flex;

    .tab {
      flex: 1;
      padding: 10px 0;
      // font-weight: 600;
      // font-size: 16px;
      // line-height: 18px;
      @include font(600, 14px, 1.15, null);
      color: $gray-500;
      text-align: center;
      cursor: pointer;
      box-shadow: inset 0px -1px 0px #e2e8f0;

      &.sel {
        color: $blue-600;
        box-shadow: inset 0px -2px 0px $blue-600;
      }

      @include lg {
        @include font(600, 1rem, 1.12, null);
        padding: 1rem 0;
      }
    }
  }
}

%card-colors {
  &.long-term-wealth-card {
    background: linear-gradient(0deg, #ffffff -106.25%, #eafff2 100%);

    .pe-button--primary {
      background: $green-500;
    }

    &:hover {
      .pe-button--primary {
        background-color: $green-600;
      }
    }
  }

  &.short-term-wealth-card {
    background: linear-gradient(360deg, #f7e4b9 -102.12%, #fef8eb 109.19%);

    .pe-button--primary {
      background: $orange-400;
    }

    &:hover {
      .pe-button--primary {
        background-color: $orange-500;
      }
    }
  }

  &.save-tax-card {
    background: linear-gradient(180deg, #eef9ff 10.95%, #cce2ff 246.29%);

    .pe-button--primary {
      background: $blue-500;
    }

    &:hover {
      .pe-button--primary {
        background-color: $blue-600;
      }
    }
  }

  &.emergency-ready-card {
    background: linear-gradient(180deg, #fff5f5 13.75%, #fed7d7 420%);

    .pe-button--primary {
      background: $pink-400;
    }

    &:hover {
      .pe-button--primary {
        background-color: $pink-500;
      }
    }
  }
}
