// Site Prefix

$prefix: pe-;

// Color System

$white: #ffffff;
$black: #000000;

$orange-100: #fef5eb;
$orange-300: #f6ad55;
$orange-400: #f58024;
$orange-500: #dd6b20;

$orange-hover: #e66d0e;
$orange-hover-lite: #fffaf5;

$green-50: #e7fef8;
$green-400: #11c095;
$green-500: #0fac85;
$green-600: #1c9778;

$green-hover: #0e9674;

$gray-50: #f9f9f9;
$gray-100: #f2f2f2;
$gray-300: #d9d9d9;
$gray-400: #b3b3b3;
$gray-500: #737373;
$gray-600: #595959;
$gray-700: #404040;
$gray-800: #343434;
$gray-900: #181818;

$blue-50: #ebf8ff;
$blue-100: #cbe3f6;
$blue-500: #007aff;
$blue-600: #1971e4;

$blue-hover: #0065d4;

$pink-400: #ed64a6;
$pink-500: #d53f8c;

$hero-bg: #f9f8f3;

// Typography

$font-family-base: "Inter", sans-serif;
$font-weight-base: 400;
$font-size-base: 1rem;
$line-height-base: 1;

// Media Queries

$sm: 576;
$md: 768;
$lg: 992;
$xl: 1200;

// Containers

$mobile-container: 540px;
$tablet-container: 720px;
$desktop-container: 960px;
$wide-container: 1140px;

// Border Radius

$border-radius-1-5: 6px;
$border-radius-2: 8px;
$border-radius-3: 10px;
$border-radius-full: 9999px;

// Transition

$transition-base: 0.15s ease-in-out;

// Z-index

$z-index-autocomplete: 10;

// Accordion

// Variables for closing transition

$handorgel__content-transition-opacity-time: 0.1s !default;
$handorgel__content-transition-opacity-method: ease !default;

$handorgel__content-transition-height-time: 0.1s !default;
$handorgel__content-transition-height-delay: $handorgel__content-transition-opacity-time !default;
$handorgel__content-transition-height-method: ease !default;

$handorgel__header__button-transition-background-color-time: 0.2s !default;
$handorgel__header__button-transition-background-color-method: ease !default;

$handorgel__content-transition: height $handorgel__content-transition-height-time
  $handorgel__content-transition-height-method $handorgel__content-transition-height-delay !default;

$handorgel__header__button-transition: background-color $handorgel__header__button-transition-background-color-time
  $handorgel__header__button-transition-background-color-method !default;

$handorgel__content__inner-transition: opacity $handorgel__content-transition-opacity-time
  $handorgel__content-transition-opacity-method !default;

// Variables for opening transition

$handorgel__content--open-transition-height-time: 0.2s !default;
$handorgel__content--open-transition-height-method: ease !default;

$handorgel__content--open-transition-opacity-time: 0.3s !default;
$handorgel__content--open-transition-opacity-method: ease !default;

$handorgel__content--open-transition: height $handorgel__content--open-transition-height-time
  $handorgel__content--open-transition-height-method !default;

$handorgel__content--opened__inner-transition: opacity $handorgel__content--open-transition-opacity-time
  $handorgel__content--open-transition-opacity-method !default;
