.#{$prefix}l-faq {
  max-width: 730px;
  margin-right: auto;
  margin-left: auto;
  padding: 3rem 0;

  @include sm {
    padding-top: 3.875rem;
    padding-bottom: 6.125rem;
  }

  .pe-h2 {
    margin-bottom: 1.25rem;
    text-align: center;

    @include sm {
      margin-bottom: 1rem;
    }
  }
}
