@import "../components/breadcrumb";
@import "../components/autocomplete";
@import "../components/fund-card";
@import "../components/brands-showcase";

.#{$prefix}l-hero {
  background: $orange-400;

  @include sm {
    background: $hero-bg;
  }

  &__content {
    padding: 0.75rem 0 1.5rem 0;

    @include sm {
      padding: 4rem 0;
    }

    @include lg {
      height: 100%;
      max-width: 400px;
    }
  }

  .pe-h1 {
    color: $white;

    @include sm {
      color: $gray-900;
    }

    @include lg {
      margin-bottom: 0.75rem !important;
    }
  }

  .pe-p__lg {
    color: $white;
    opacity: 0.9;

    @include sm {
      color: $gray-600;
      opacity: 1;
    }

    @include md {
      margin-bottom: 1.75rem !important;
    }
  }
}
